{{>layout/header}}
<div id="introduce_banner" class="introduce">
    <!--<h1>교회 소개</h1>-->
</div>
<div id="introduce_content">
    <div class="container">
        <ul>
            <li class="church"><a href="#">교회 소개</a></li>
            <li class="ministry"><a href="#">사역 소개</a></li>
            <li class="pastor"><a href="#">섬기는 이</a></li>
            <li class="worship"><a href="#">예배 안내</a></li>
        </ul>
        <!-- 교회소개 -->
        <div class="introduce_box church active">
            <h2>
                <p>더욱 사랑하는 공간,</p>
                <p>더사랑 교회입니다.</p>
            </h2>
            <img src="/img/thesarang.png" alt="">
            <p>사람이 온다는 건</p>
            <p>실은 어마어마한 일이다</p>
            <p>그는</p>
            <p>그의 과거와</p>
            <p>현재와</p>
            <p>그리고</p>
            <p>그의 미래와 함께 오기 때문이다</p>
            <p>한 사람의 일생이 오기 때문이다</p>
            <p>부서지기 쉬운</p>
            <p>그래서 부서지기도 했을</p>
            <p>마음이 오는 것이다 - 그 갈피를</p>
            <p>아마 바람은 더듬어 볼 수 있을</p>
            <p>마음,</p>
            <p>내 마음이 그런 바람을 흉내낸다면</p>
            <p>필경 환대가 될 것이다.</p>
            <br>
            <p>사람과 사람이 만나는 기적같은 일이</p>
            <p>소소한 일상을 충만하게 합니다.</p>
            <p>그 소소함을 소박하게 나누는 더사랑 교회입니다.</p>
        </div>

        <div class="introduce_box church active">
            <h2>
                <p>Vision & Mission</p>
            </h2>
            <div class="vision_wrap">
                <span>
                    <img class="logo" src="/img/rice.png" alt="">
                    <p>환대</p>
                </span>
                <span>
                    <img class="logo" src="/img/community.png" alt="">
                    <p>공동체</p>
                </span>
                <span>
                    <img class="logo" src="/img/education.png" alt="">
                    <p>교육</p>
                </span>
            </div>
        </div>
        <!-- 교회소개 : END -->

        <!-- 사역 -->
        <div class="introduce_box ministry">
            <h2>진짜 공부방 - 키다리 아저씨 프로젝트</h2>
            <img src="/img/gongbubang2.jpeg" alt="">
            <p>진짜 공부방이 있는 사방 십리 안에, 돈이 없어 공부의 기회조차 얻지 못하는 아이들이 없도록 하겠습니다.</p>
            <p>교육 기회의 평등으로 이웃 사랑을 적극적으로 실천하는 행동하는 신앙의 장입니다.</p>
            <p>진짜 공부방에서 꿈을 키우는 아이들은 초등학생이 되는 7세 아이들 9명과 초등학교 6명과 중학생 3명입니다.</p>
            <p>한 아이마다 10만원의 후원금이 필요합니다. 이 아이들과 공부방의 키다리 아저씨가 되어 주세요.</p>
            <p>교회마다 1명씩, 가정마다 우리 아이 학원보낸다고 생각하시고 섬겨주셔도 좋습니다.</p>
            <p>더불어 함께 이 아이들의 키다리 아저씨가 되어 주세요. 예수 마을이 되어, 아이들을 함께 키워 가겠습니다.</p>
            <p>진짜 공부방을 위해 기도 부탁드립니다.</p>
            <br>
            <p>■ 후원 안내</p>
            <p>- 정기 후원 : </p>
            <p>
                <a href="https://go.missionfund.org/thelove">https://go.missionfund.org/thelove</a>
            </p>
            <p>- 일시 후원 : </p>
            <p>농협 351-1088-1686-23 더사랑교회</p>
        </div>

        <div class="introduce_box ministry">
            <h2>더사랑 데이</h2>

            <img src="/img/ministry2.jpeg" alt="">

            <p>'하나님의 그 사랑으로, 더사랑 하는 날입니다.'</p>
            <p></p>매월, 이천에 있는 성애원 가족들과 함께하는 문화 공연이 있는 날입니다.</p>
            <br>
            <p>벌써 50번이 넘었습니다.</p>
            <p>두살배기 애기가 내년이면 초등학교가고 중2이었던 아이가 대학생이 되었습니다.</p>
            <br>
            <p>이렇게 함께 살아가는 날들이 차곡차곡 쌓입니다.</p>
            <p>늘 새로운 사랑이야기가 펼쳐지는 더사랑데이.</p>
            <br>
            <p>오선화작가님이 게스트를 초대해주셔서 사랑 가득한 날로 만들어주십니다.</p>
            <p>일상을 공유하는 시간이 최고의 연대입니다.</p>
        </div>
        <!-- 사역 : END -->

        <!-- 섬기는 이 -->
        <div class="introduce_box pastor">
            <h2>
                <p>더사랑교회,</p>
                <p>이요섭 목사 입니다.</p>
            </h2>

            <img class="pastor" src="/img/lyspng.png" alt="">
            <p>당신의 시처럼 하늘을 우러러</p>
            <p>한 점 부끄러움이 없길</p>
            <p>당신의 삶처럼 모든 죽어가는 것을</p>
            <p>사랑할 수 있길</p>
            <p>때론 사는 게 허무하고 무기력할 때</p>
            <p>당신의 육첩방을 밝혔던</p>
            <p>등불을 기억할게</p>
            <p>난 왜 느끼지 못하고 외우려했을까</p>
            <p>용기내지 못하고</p>
            <p>뒤로 숨으려 했을까</p>
            <p>그에게 총칼 대신</p>
            <p>연필 끝에 힘이 있었기에</p>
            <p>차가운 창살 건너편의</p>
            <p>하늘과 별을 바라봐야했네</p>
            <br>
            <p>하나님 나라의 독립군으로 살고 있습니다.</p>
            <p>그 사랑으로 더사랑하며 사는</p>
            <p>사람다운 삶을 추구합니다.</p>
            <br>
            <p>아세아연합신학대학원 M.div</p>
            <p>실천신학대학원대학교에서 공부중</p>
        </div>
        <!-- 섬기는 이 : END -->
        <div class="introduce_box worship">
            <h2>
                <p>예배 안내</p>
            </h2>
            <div class="worship_wrap">
                <span>주일 예배</span>
                <p>주일 오전 10시 다음세대부</p>
                <p>주일 오전 11시 장년부</p>
                <p>주일 오후 3시 영아/유치부</p>
            </div>
            <div class="worship_wrap">
                <span>수요 예배</span>
                <p>매주 수요일 저녁 8시</p>
            </div>
            <div class="worship_wrap">
                <span>금요 독서 모임</span>
                <p>매주 금요일 오전 10시</p>
            </div>
        </div>
        <!-- 섬기는 이 -->

    </div>
</div>
{{>layout/footer}}