<footer id="footer" th:frgment="footer">
    <span>더사랑교회. 경기도 이천시 신둔면 장동리 443</span><br>
    <address>
        Copyright ©
        <a href="http://www.thelovechurch.co.kr"><strong>thelovechurch</strong></a>
        All Rights Reserved.
    </address>
</footer>
</body>

<!-- JavaScript Libraries -->
<script src="/js/external/jquery.min_1.12.4.js"></script>
<script src="/js/external/modernizr-custom.js"></script>
<script src="/js/external/slick.min.js"></script>
<!--    <script src="https://kit.fontawesome.com/e0da42e843.js" crossorigin="anonymous"></script>-->
<script src="/js/external/lightgallery.min.js"></script>

<!-- summernote -->
<script src="/js/external/summernote/summernote-lite.js"></script>
<script src="/js/external/summernote/summernote-ko-KR.js"></script>

<script src="/js/index.js"></script>
<script src="/js/introduce.js"></script>
<script src="/js/notice.js"></script>
<script src="/js/users.js"></script>

</html>