<footer id="footer">
    <span>더사랑교회. 경기도 이천시 신둔면 장동리 443</span><br>
    <address>
        Copyright ©
        <a href="http://www.thelovechurch.co.kr"><strong>thelovechurch</strong></a>
        All Rights Reserved.
    </address>
</footer>
</body>

<!-- JavaScript Libraries -->
<script src="/js/jquery.min_1.12.4.js"></script>
<script src="/js/modernizr-custom.js"></script>
<script src="/js/slick.min.js"></script>
<!--    <script src="https://kit.fontawesome.com/e0da42e843.js" crossorigin="anonymous"></script>-->
<script src="/js/lightgallery.min.js"></script>
<script src="/js/index.js"></script>

</html>