
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>더사랑 교회</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--        <link rel="stylesheet" href="../static/css/style.css">-->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bttn.css">
    <link rel="stylesheet" type="text/css" href="/css/external/summernote/summernote-lite.css">
</head>
        <!-- //header -->