<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>더사랑 교회</title>
        <link rel="stylesheet" href="/css/style.css">
        <!--        <link rel="stylesheet" href="../static/css/style.css">-->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bttn.css">
        <link rel="stylesheet" type="text/css" href="/css/external/summernote/summernote-lite.css">
    </head>
    <body>
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="header clearfix">
                        <a href="/">
                            <h1 class="logo">
                                <img src="/img/logo.png" alt="로고">
                            </h1>
                        </a>
                        <nav class="menu_pc">
                            <ul class="">
                                <li>
                                    <a href="/notice">새소식</a>
                                </li>
                                <li>
                                    <a href="/introduce">더사랑교회</a>
                                </li>
                                <li>
                                    <a href="#">로그인</a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="menu_mobile">
                            <a href="#"><i class="fas fa-bars"></i></a>
                            <ul class="menu_mobile">
                                <li>
                                    <a href="#">새소식</a>
                                </li>
                                <li>
                                    <a href="#">더사랑교회</a>
                                </li>
                                <li>
                                    <a href="#">로그인</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <!-- //header -->