{{>layout/header}}
<div id="board_banner" class="notice">
    <h1>새소식</h1>
</div>
<div id="board_content">
    <div class="container">
        <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
            <thead>
            <tr>
                <th class="board_title">제목</th>
                <th class="board_writer">작성자</th>
                <th class="board_date">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>안녕하세요</td>
                <td>홍길동</td>
                <td>2017-05-04</td>
            </tr>
            <tr>
                <td>안녕하세요</td>
                <td>홍길동</td>
                <td>2017-05-04</td>
            </tr>
            </tbody>
        </table>
        <ul class="paging">
            <li><a href="#">< 이전</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li><a href="#">다음 ></a></li>
        </ul>
        <a href="notice/new">새 글 작성</a>
    </div>
</div>
{{>layout/footer}}