@charset "utf-8";

/* 레이아웃 */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
#header {
    /*position: fixed;*/
    z-index: 9999;
    width: 100%;
    opacity: 0.7;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
#title {
    height: 80px;
}
#banner {
    position: relative;
    flex: 1;
}
#contents {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    opacity: 0.8;
    /*background-color: rgb(88 88 88);*/
}
#contents .container {
    background-color: #b6907bfa;
}

/* 가운데 영역 */
.container {
    position: relative;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.row {
    padding: 0 24px;
}
/* 헤더 */
.header {
    position: relative;
}
.header .logo {
    float: left;
    width: 130px;
    margin-top: 6px;
}
.header .menu_pc {
    display: block;
}
.menu_mobile {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    display: none;
}
.header .menu.mobile ul {
    font-size: 16px;
    position: absolute;
    z-index: 999;
    top: 74px;
    right: 0px;
}
.header .menu_pc {
    float: right;
}
.header .menu_pc li {
    display: block;
    float: left;
    border-right: 1px solid #ccc;
}
.header .menu_pc li:first-child {
    border-left: 1px solid #ccc;
}
.header .menu_pc li a {
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding: 24px 30px;
    transition: background-color .5s ease;
    color: #333;
}
.header .menu_pc li a:hover {
    background-color: #dbdbdb;
    /*box-shadow: inset 180px 0 0 0 rgba(36, 130, 174, 0.7);*/
}

/* 배너 */
.slider,
.slick-list,
.slick-track,
.slick-slide,
.slick-slide div {
    height: 100%;
}
.slider .slides {
    background-color: #dddddd;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.slider .slides.slide1 {
    background-image: url("../img/child.jpg");
}
.slider .slides.slide2 {
    background-image: url("../img/bread.jpeg")
}
.slider .slides.slide3 {
    background-image: url("../img/thesarang.jpg")
}
.slick-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    margin: 0 20px;
}
.slider .slick-dots button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
}
.slider .slick-dots .slick-active button {
    background: #ebe493
}

/* 컨텐츠 */
.cont_left {
    float: left;
    color: #fff;
}
.cont_left h2 {
    font-size: 25px;
    line-height: 150px;
    width: 150px;
    height: 150px;
    margin-top: 27px;
    text-align: center;
    color: #fff;
}
.cont_left ul {
    font-size: 15px;
    margin-top: 25px;
    padding-right: 20px;
    border-right: 1px solid #bdbdbd;
}
.cont_left li {
    padding-bottom: 8px;
}
.cont_left li a {
    transition: all .5s ease;
    color: #fff;
}

/* 컨텐츠 중앙 */
.cont_center {
    overflow: hidden;
    margin-right: 300px;
    padding: 15px 0;
}
.cont_center ul {
    border-right: 1px solid #bdbdbd;
}
.cont_center li {
    padding: 10px;
    cursor: pointer;
}
.cont_center li .title {
    float: left;
}
.cont_center li .write_date {
    float: right;
}

/*위에서 살짝 떨어지는 밑줄*/
/*.cont_center li a .write_date {
    color: #fff;
}
.cont_center li a .title {
    position: relative;
    display: block;
    color: #fff;
}
.cont_center li a .title:before {
    position: absolute;
    right: 0;
    bottom: 2px;
    left: 0;
    height: 2px;
    content: '';
    background-color: #bdbdbd;
}
.cont_center li a .title:before {
    -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    opacity: 0;
}

.cont_center li a .title:hover:before {
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}*/
.cont_center li a .title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cont_center li a .write_date {
    float: right;
}
/* 컨텐츠 오른쪽 (아이콘) */
.icons {
    position: absolute;
    top: 50%;
    right: 0;
    width: 300px;
    transform: translateY(-50%);
    color: #fff;
}

.icons > span {
    float: left;
    width: 150px;
    height: 150px;
    text-align: center;
}
.icons > span i {
    font-size: 30px;
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
}

/* 푸터 */
footer {
    margin-top: auto;
    padding: 8px 50px;
    text-align: center;
    /*border-top: 1px solid #bdbdbd;*/
}

/* 게시판 */
#board_banner {
    height: 250px;
    border-bottom: 1px solid #ccc;
    background-repeat: no-repeat;
    background-size: cover;
}
#board_banner h1 {
    font-size: 30px;
    line-height: 250px;
    text-align: center;
    letter-spacing: 5px;
    color: #fff;
}
#board_banner.notice {
    min-height: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../img/gongbubang.jpeg");
    background-position: 0% 5%;
}
#board_content {
    flex: 1;
}
#board_content table {
    width: 100%;
    margin-top: 30px;
}
#board_content table .board_title {
    width: 60%;
}
#board_content table .board_title a {
    display: block;
}
#board_content table .board_writer {
    width: 20%;
}
#board_content table .board_date {
    width: 20%;
}
#board_content table th {
    background-color: #eeeeee;
}
#board_content table tr {
    height: 30px;
    text-align: center;
}
ul.paging {
    margin-top: 20px;
    text-align: center;
}
ul.paging li {
    display: inline-block;
    margin: 0px 5px;
}

/* introduce; 교회 소개 */
#introduce_banner {
    min-height: 250px;
    border-bottom: 1px solid #ccc;
    background-repeat: no-repeat;
    background-size: cover;
}
#introduce_banner h1 {
    font-size: 30px;
    line-height: 250px;
    text-align: center;
    letter-spacing: 5px;
    color: #fff;
}
#introduce_banner.introduce {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../img/ministry2.jpeg");
    background-position: 0% 77%;
}
#introduce_content {
    flex: 1;
}
#introduce_content ul {
    margin: 20px 0px;
    text-align: center;
}
#introduce_content ul li.active a {
    color: #222;
}
#introduce_content ul li {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    margin: 0px 20px;
}
#introduce_content ul li:before {
    position: absolute;
    left: -24px;
    width: 0.5px;
    content: "|";
    color: #ebebeb;
}
#introduce_content ul li:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    content: "";
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #145879FF;
}
#introduce_content ul li:hover:after {
    width: 100%;
    opacity: 1;
}
#introduce_content ul li a {
    color: #848484;
}
#introduce_content ul li:hover a {
    color: #222;
}
#introduce_content .introduce_box.active {
    display: block;
}
#introduce_content .introduce_box {
    display: none;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px 35px;
    border-radius: 5px;
    background: #efefef;
}
#introduce_content .introduce_box h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-left: 10px;
    color: #222;
    border-bottom: 2px solid #145879FF;
}
#introduce_content .introduce_box .vision_wrap {
    margin-top: 22px;
    text-align: center;
}
#introduce_content .introduce_box span {
    display: inline-block;
    margin-right: 30px;
}
#introduce_content .introduce_box img {
    width: 100%;
    margin-bottom: 10px;
}
#introduce_content .introduce_box img.logo {
    width: 150px;
}
#introduce_content .introduce_box img.pastor {
    float: right;
    width: 150px;
    margin-top: 45px;
}
#introduce_content .introduce_box .vision_wrap p {
    font-size: 20px;
    margin-bottom: 20px;
}
#introduce_content .introduce_box .vision_wrap p:last-child {
    margin-bottom: 0;
}
#introduce_content .introduce_box.worship .worship_wrap {
    margin-bottom: 10px;
}
#introduce_content .introduce_box.worship .worship_wrap span {
    font-weight: 600;
}

/* 글쓰기 */
#write {
    margin: 15px 0;
}
.write_box {
    width: 700px;
    height: inherit;
    margin: 0 auto;
}

.write_box label {
    display: block;

}
.write_box input, .write_box textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    resize: none;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.write_box textarea {
    height: 400px;
}
#btn-save {
    float: right;
}
.form-group {
    margin-bottom: 10px;
}

/* mediaquery */
/* 화면 너비 0~1220px */
@media (max-width: 1220px) {
    .container {
        width: 100%;
    }
    .row {
        padding: 0 15px;
    }
}

/* 화면 너비 0~1024px */
@media (max-width: 1024px) {
}

/* 화면 너비 0~960px */
@media (max-width: 960px) {
    .header .menu_pc {
        display: none;
    }
    .menu_mobile {
        font-size: 15px;
        top: 23px;
        display: block;
    }
    ul.menu_mobile {
        top: 75px;
        left: 0;
        transition: all .4s ease;
        opacity: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    ul.menu_mobile.click {
        top: 75px;
        opacity: 1;
    }
    ul.menu_mobile li {
        padding: 15px;
    }
    ul.menu_mobile li a {
        color: #fff;
    }
    .cont_center {
        padding: 0;
    }
    #contents {
        border-bottom: none;
    }
}

/* 화면 너비 0~768px */
@media (max-width: 768px) {
    .icons {
        position: unset;
        float: left;
        width: 100%;
        transform: unset;
        border-top: 1px solid #bdbdbd;
    }
    .icon1 {
        box-sizing: border-box;
        border-right: 1px solid #bdbdbd;
    }
    .cont_center {
        margin-right: 0;
    }
    .cont_center ul {
        border-right: unset;
    }
    .icons > span {
        width: 50%;
    }

}
/* 화면 너비 0~600px */
@media (max-width: 600px) {
}

/* 화면 너비 0~480px */
@media (max-width: 480px) {
    .cont_center {
        padding: unset;
    }
    .cont_center li a .title {
    }

}

/* 화면 너비 0~320px */
@media (max-width: 320px) {

}