{{>layout/header}}
<ul class="menu_mobile">
    <li>
        <a href="#">새소식</a>
    </li>
    <li>
        <a href="#">더사랑교회</a>
    </li>
    <li>
        <a href="#">로그인</a>
    </li>
</ul>

<div id="banner">
    <div class="container clearfix">
        <div class="slider">
            <div class="slides slide1"></div>
            <div class="slides slide2"></div>
            <div class="slides slide3"></div>
        </div>
    </div>
</div>
<div id="contents">
    <div class="container clearfix">
        <div class="cont_left">
            <h2>새소식</h2>
        </div>
        <div class="cont_center">
            <ul>
                <li>
                    <a href="#">
                        <span class="title">게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다.</span>
                        <span class="write_date">2022.12.25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="title">게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다.</span>
                        <span class="write_date">2022.12.25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="title">게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다.</span>
                        <span class="write_date">2022.12.25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="title">게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다. 게시글 입니다.</span>
                        <span class="write_date">2022.12.25</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="icons clearfix">
                    <span class="icon1">
                        <i class="fas fa-cross"></i>
                            교회안내
                    </span>
            <span class="icon2">
                        <i class="fas fa-video"></i>
                         예배실황
                    </span>
        </div>
    </div>
</div>
{{>layout/footer}}